#root {
  width: 100vw;
  height: 100vh;
  font-family: Avenir, sans-serif;
  font-weight: 600;
}

.site-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
  background-color: white;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
  margin-top: 10px;
}

.brand-name {
  display: flex;
  flex-flow: row nowrap;
  font-size: 64px;
  font-family: "FleuronRegular";
  line-height: 1.1;

  .mixed {
    font-family: "FleuronMixed";
  }
}

.sub-name {
  line-height: 1.2;
  font-size: 14px;
  transform: translateY(-3px);
}

.nav-bar {
  font-family: "FleuronRegular";
  font-size: 20px;
  width: fit-content;
  margin-right: 36px;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  gap: 64px;
  line-height: 1;
  margin-top: 16px;
}

.main-content {
  width: 100%;
  display: flex;
  height: calc(100% - 80px);
}

.items {
  width: 75%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.items-header {
  height: 52px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  font-size: 16px;
  position: relative;

  .items-header-text {
    max-width: calc(100% - 532px);
    max-height: 100%;
    padding-left: 36px;
    z-index: 10;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
  }
}

.reset-button {
  position: absolute;
  top: 0;
  right: 420px;
  height: 100%;
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
  z-index: 10;

  &:hover {
    background-color: transparent;
    color: var(--med-grey);
  }
}

.item-listings {
  padding: 36px 28px 36px 36px;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

div:hover::-webkit-scrollbar-thumb {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7;
}

.cart {
  width: 25%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid var(--black);
}

.cart-header {
  height: 52px;
  border-bottom: 1px solid var(--black);
  display: flex;
  align-items: center;
  padding-left: 36px;
  font-size: 16px;
}

.cart-listings {
  flex: 1;
  padding: 36px 28px 36px 36px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-y: auto;
}

.cart-total {
  border-top: 1px solid var(--black);
  width: 100%;
  padding: 16px 36px;
  align-self: flex-end;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.subtotal-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "FleuronRegular";
  font-size: 16px;
}

.checkout-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
