:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --black: #121212;
  --med-grey: #888888;
  --green: #e3f4e1;
  --purple: #eceaf6;
  --yellow: #faedd2;
  --pink: #f8d1e3;
  --orange: #fdd9c0;
  --blue: #d6e0f0;

  color-scheme: light dark;
  color: var(--black);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--black);
}

li:hover {
  transition: 0.3s;
  color: var(--med-grey);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

button {
  background-color: var(--black);
  color: white;
  height: 35px;
  padding: 9px 14px;
  font-family: Avenir, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: none;
}

button:hover {
  transition: 0.3s;
  background-color: #414141;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

div:hover::-webkit-scrollbar-thumb {
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}

/* @font-face {
  font-family: FleuronDingbats;
  font-style: normal;
  src: url("public/FleuronDingbats.otf") format("opentype");
} */

@font-face {
  font-family: FleuronMixed;
  font-style: normal;
  src: url("/kopi-development/FleuronMixed.otf") format("opentype");
}

@font-face {
  font-family: FleuronRegular;
  font-style: normal;
  src: url("/kopi-development/FleuronRegular.otf") format("opentype");
}
