.card-back {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid var(--black);
}

@media (min-width: 1240px) {
  .card-back {
    flex: 0 0 calc(100% / 3);
  }

  .no-left {
    flex: 0 0 calc(100% / 3 - 1px);
  }
}

@media (max-width: 1240px) {
  .card-back {
    flex: 0 0 50%;
  }

  .no-left {
    flex: 0 0 calc(50% - 1px);
  }
}

@media (max-width: 952px) and (min-width: 888px) {
  .buttons .see-details {
    display: none;
  }

  .card-info .large-screen-roast {
    display: none;
  }

  .card-info .small-screen-roast-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  .item-notes {
    display: flex;
    flex-flow: row wrap;
  }
}

@media (max-width: 888px) {
  .card-back {
    flex: 0 0 100%;
  }
}

.no-left {
  border-left: none;
}

.no-top {
  border-top: none;
}

.item-img {
  width: 100%;
}

/* .item-img:hover {
  transition: 0.3s;
  filter: brightness(90%);
} */

.card-info {
  border-top: 1px solid var(--black);
  padding: 16px;
  line-height: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.info-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.small-screen-roast-row {
  display: none;
}

.name-price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "FleuronRegular";
  font-size: 22px;
  margin-top: 3px;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  gap: 16px;

  button {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.see-details {
  background-color: white;
  color: var(--black);
  padding: 8px 13px;
  border: 1px solid var(--black);
}

.see-details:hover {
  background-color: #e7e7e7;
}
